* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    background-color: #d8dee4; /* A dark background to match the theme */
}

header {
   /* background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);*/
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 165, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 128, 0, 0.5), rgba(0, 0, 255, 0.5), rgba(75, 0, 130, 0.5), rgba(238, 130, 238, 0.5));
   
}

.header-title {
    font-size: 2.5em;
    color: white;
}

nav {
    margin-top: 10px;
}

.nav-link {
    margin: 0 15px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: yellow;
}

.content-container {
    padding: 50px;
    text-align: center;
}

.page-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff4757; /* Color that adds emotion to the title */
}

.meaning-text {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #0b94b6; /* Light grey for readability on the dark background */
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}

.video-container {
    width: 640px; /* Set a fixed width */
    max-width: 100%; /* Responsive design */
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.video-player {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

footer {
    background: linear-gradient(to right, rgba(238, 130, 238, 0.5), rgba(75, 0, 130, 0.5), rgba(0, 0, 255, 0.5), rgba(0, 128, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(255, 165, 0, 0.5), rgba(255, 0, 0, 0.5));
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    z-index: 3;
    backdrop-filter: blur(5px); /* Adds blur to the footer */
    margin-bottom: 0%;
}
