* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    overflow: hidden;
}

header {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 165, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 128, 0, 0.5), rgba(0, 0, 255, 0.5), rgba(75, 0, 130, 0.5), rgba(238, 130, 238, 0.5));
    padding: 20px;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 3;
    backdrop-filter: blur(5px); /* Adds blur to the background for better readability */
}

.header-title {
    font-size: 2.5em;
    color: white;
}

p span {
    color: red;
    font-size: 3em;
}

.video-background {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
    margin-top: 100px; /* Adds space below header */
}

.image-container {
    display: flex;
    flex-direction: row; /* Places images side by side */
    gap: 20px; /* Adds space between images */
}

.artist-image {
    width: 300px;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.lyrics-container {
    width: 50%;
    max-height: 80%;
    overflow-y: auto;
    background-color: rgba(0.6, 0.6, 0.6, 0.6);
    padding: 20px;
    border-radius: 10px;
    .box::-webkit-scrollbar{display: none;}
}

.song-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff4757;
}

.artist {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #2ed573;
}

.lyrics {
    text-align: center;
    font-size: 1.2em;
    max-height: 300px;
    overflow-y: auto;
}

.lyric-line {
    margin: 10px 0;
    line-height: 1.5;
    transition: transform 0.3s;
}

.lyric-line:hover {
    transform: scale(1.05);
    color: #3742fa;
}

footer {
    background: linear-gradient(to right, rgba(238, 130, 238, 0.5), rgba(75, 0, 130, 0.5), rgba(0, 0, 255, 0.5), rgba(0, 128, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(255, 165, 0, 0.5), rgba(255, 0, 0, 0.5));
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    z-index: 3;
    backdrop-filter: blur(5px); /* Adds blur to the footer */
}

/* Styling for video below content */
.content + video {
    margin-top: 50px; /* Ensures space between lyrics and video */
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 10px;
}
